@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.90);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__a {
    position: relative;
    display: inline;
    color: #ffffff88;
    text-decoration: none;
    font-size: 1em;
    margin-left: 40px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navigation__a:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #fff;
}

.navigation .btnLogin-popup {
    background: transparent;
    width: 130px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: all 0.5s ease;

}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000000;
}

.navigation .btnSignin-popup {
    background: transparent;
    width: 130px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: all 0.5s ease;
}

.navigation .btnSignin-popup:hover {
    background: #fff;
    color: #000000;
}

footer{
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.footer {
    display: flex;
    width: 1440px;
    height: 306px;
    padding:30px;
    align-items: flex-start;
    gap: 10px;
    background: #014E6D;
    align-items: center;
}

.footer__a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    margin: 10px;
    font-weight: 500;
    transition: all 0.3s ease;
    display: flex;
}

footer a:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #fff;
}

.footer__bottom {
    display: flex;
    width: 1440px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fcfcfd;
}

.footer__bottom .logo {
    font-size: 1.5em;
    color: #fff;
}

.footer__bottom {
    justify-content: center;
    align-items: center;
}

.footer__left {
    display: flex;
    width: 422px;
    align-items: center;
    align-content: center;
    gap: 25px 52px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.footer__left a {
    color: #ffffff88;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 40px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.footer__left a:hover {
    color: #ffffff;
    text-shadow: 0 0 3px #fff;
}

.footer__left__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__left__social__img {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer__head {
    color: #ffffff85;
    font-size: 15px;
}

.footer__logo{
    border-radius: 25px;
    width: 128px;
    height: 113px;
}

.company__detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Company__Address p{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.frame{
    display: flex;
    width: 1440px;
    height: 306px;
    padding: 30px 83px 30px 100px;
    align-items: flex-start;
    gap: 127px;
}